$primaryColor: #191919;
$gray-text: #b9b9b9;
$darkgray: #777777;
$mainColor: #173b49;

img{
  width: auto!important;
}
.header-img {
  width: 100%;
}
.padded {
  padding: 40px 20px 100px;
}

.gray-bg {
  background-color: #f1eeee;
}

.white-bg {
  background-color: white;
}

.photos {
  background-color: #f1eeee;
  position: relative;
  .images {
    .img {
      overflow: hidden;
      padding-left: 1px;
      padding-right: 1px;
      padding-top: 1px;
      padding-bottom: 1px;
      img {
        min-width: 100%;
        cursor: pointer;
        width: auto;
      }
    }
    .h-sm {
      height: 275px;
    }
    .h-md {
      height: 275px;
    }
    .h-lg {
      height: 525px;
    }
  }
  .swiper-container {
    height: 100%;
  }
  .swiper-slide {
    img {
      height: 100%;
      padding: 0 50px;
    }
    .text {
      p {
        color: white;
      }
    }
  }
  .swiper-button-prev {
    background-image: url("../images/prev.png");
  }
  .swiper-button-next {
    background-image: url("../images/next.png");
  }
  .swiper-button-next, .swiper-button-prev {
    width: 42px;
    height: 42px;
    background-size: 42px 42px;
  }
}

.videos {
  background-color: white;
  .video {
    height: 240px;
    overflow: hidden;
    .play {
      cursor: pointer;
    }
  }
  .pop-up {
    display: none;
  }
}


.pop-up {
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px 30px;
  z-index: 99999;
  display: none;
}

.press-release {
  background-color: #f1eeee;
  padding-left: 0!important;
  padding-right: 0!important;
  .swiper-button-prev {
    background-image: none;
  }
  .swiper-button-next {
    background-image: none;
  }
  .img-centered {
    position: relative;
    height: 100%;
    img {
      min-height: 100%;
    }
    .hover {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(38,50,56,0.8);
      width: 100%;
      height: 100%;
      padding: 100px 40px;
      text-align: left;
      p {
        color: white;
        margin-bottom: 20px;
      }
    }
    &:hover {
      .hover {
        visibility: visible;
      }
    }
  }
  .arrows {
    padding: 50px 14%;
  }
  .swiper-slide {
    height: 400px;
  }
  .swiper-button-next, .swiper-button-prev {
    background-image: none;
    font-size: 40px;
    position: initial;
    &:focus {
      outline: none;
    }
    &:hover {
      color: #255f75;
    }
  }
}

.img-text {
  padding: 20px;
  line-height: 1.3;
  .text {
    background-color: $mainColor;
    padding: 40px 15px 75px 40px;
    /*max-width: 615px;*/
    p {
      color: $darkgray;
      &.title {
        color: $gray-text;
        margin-bottom: 0;
        &.large {
          font-size: 50px;
        }
      }
      &.white {
        color: white;
      }
    }
  }
  .height-360 {
    height: 360px;
  }
  .heigh-450 {
    height: 450px;
  }
  .img {
    .text-over-img {
      bottom: 20%;
      font-size: 18px;
      width: 60%;
      left: 20%;
      text-align: left;
    }
  }
}

.header-text {
  width: 80%;
  padding-top: 130px;
  margin-left: 13%;
  padding-bottom: 30px;
  p {
    color: white;
    font-size: 16px;
    &.gray-text {
      color: $gray-text;
    }
  }
  .title {
    font-size: 30px;
    margin-bottom: 0;
    &.large {
      font-size: 40px;
    }
  }
  .sub-title {
    font-size: 20px;
  }
}

.on-top {
  z-index: 999 ;
}

.mg-right-minus {
  margin-right: -20px;
  &.large {
    margin-right: -100px;
  }
}


@media screen and (min-width: 767px){
  .padded {
    padding: 40px 75px 240px;
  }
  .img-text {
    padding: 70px;
  }
}

@media screen and (min-width: 992px){
  .photos {
    .images {
      .h-sm {
        height: 250px;
      }
    }
  }
  .header-text {
    width: 50%;
    p {
      font-size: 20px;
    }
    .title {
      font-size: 50px;
      &.large {
        font-size: 80px;
      }
    }
    .sub-title {
      font-size: 20px;
    }
  }
  .img-text {
    .text {
      max-width: 615px;
    }
  }
}
@media screen and (min-width: 1200px){
  .header-text {
    width: 50%;
    p {
      font-size: 22px;
    }
    .title {
      font-size: 60px;
      &.large {
       font-size: 100px;
      }
    }
    .sub-title {
      font-size: 36px;
    }
  }
  .img-text .text p {
    &.title.large {
      font-size: 85px;
    }
  }
}

@media screen and (min-width: 1440px){
  .mg-right-minus {
    margin-right: -30px;
    &.large {
      margin-right: -140px;
    }
  }
}