.header-img {
    width: 100%;
}

.padded {
    padding: 40px 20px 100px;
}

.gray-bg {
    background-color: #f1eeee;
}

.white-bg {
    background-color: white;
}

.photos {
    background-color: #f1eeee;
    position: relative;
}

.photos .images .img {
    overflow: hidden;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.photos .images .img img {
    min-width: 100%;
    cursor: pointer;
    width: auto;
}

.photos .images .h-sm {
    height: 275px;
}

.photos .images .h-md {
    height: 275px;
}

.photos .images .h-lg {
    height: 525px;
}

.photos .swiper-container {
    height: 100%;
}

.photos .swiper-slide img {
    height: 100%;
    padding: 0 50px;
    width: auto !important;
}

.photos .swiper-slide .text p {
    color: white;
}

.photos .swiper-button-prev {
    background-image: url("../images/prev.png");
}

.photos .swiper-button-next {
    background-image: url("../images/next.png");
}

.photos .swiper-button-next, .photos .swiper-button-prev {
    width: 42px;
    height: 42px;
    background-size: 42px 42px;
}
.mission{
    min-height: 680px;
    display: flex;
    align-items: center;
}
.videos {
    background-color: white;
}

/*.videos .video {*/
    /*height: 240px;*/
    /*overflow: hidden;*/
/*}*/

.videos .video .play {
    cursor: pointer;
}

.videos .pop-up {
    display: none;
}

.pop-up {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 20px 30px;
    z-index: 99999;
    display: none;
}

.press-release {
    background-color: #f1eeee;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.press-release .swiper-button-prev {
    background-image: none;
}

.press-release .swiper-button-next {
    background-image: none;
}

.press-release .img-centered {
    position: relative;
    height: 100%;
}

.press-release .img-centered img {
    min-height: 100%;
}

.press-release .img-centered .hover {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(38, 50, 56, 0.8);
    width: 100%;
    height: 100%;
    padding: 100px 40px;
    text-align: left;
}

.press-release .img-centered .hover p {
    color: white;
    margin-bottom: 20px;
}

.press-release .img-centered:hover .hover {
    visibility: visible;
}

.press-release .arrows {
    padding: 50px 14%;
}

.press-release .swiper-slide {
    height: 400px;
}

.press-release .swiper-button-next, .press-release .swiper-button-prev {
    background-image: none;
    font-size: 40px;
    position: initial;
}

.press-release .swiper-button-next:focus, .press-release .swiper-button-prev:focus {
    outline: none;
}

.press-release .swiper-button-next:hover, .press-release .swiper-button-prev:hover {
    color: #255f75;
}

.img-text {
    padding: 20px;
    line-height: 1.3;
}

.img-text .text {
    background-color: #173b49;
    padding: 40px 15px 75px 40px;
    /*max-width: 615px;*/
}

.img-text .text p {
    color: #fff;
    font-family: 'aperturaRegular';
}
.img-text .text p.title {
    color: #fff;
    margin-bottom: 0;
}

.img-text .text p.title.large {
    font-size: 50px;
}

.img-text .text p.white {
    color: white;
}

.img-text .height-360 {
    height: 360px;
}

.searchRes .img-text .height-360 {
    height: auto;
}

.img-text .heigh-450 {
    height: 450px;
}

.img-text .img .text-over-img {
    bottom: 20%;
    font-size: 18px;
    width: 60%;
    left: 20%;
    text-align: left;
}

.header-text {
    width: 80%;
    padding-top: 130px;
    margin-left: 13%;
    padding-bottom: 30px;
}

.header-text p {
    color: white;
    font-size: 16px;
}

.header-text p.gray-text {
    color: #b9b9b9;
}

.header-text .title {
    font-size: 30px;
    margin-bottom: 0;
}

.header-text .title.large {
    font-size: 40px;
}

.header-text .sub-title {
    font-size: 20px;
}

.on-top {
    z-index: 999;
}

.mg-right-minus {
    margin-right: -20px;
}

.mg-right-minus.large {
    margin-right: -100px;
}

.our-story .header-text p:first-child {
    letter-spacing: 10px;
}

.essence .title {
    letter-spacing: 10px;
}

@media screen and (min-width: 767px) {
    .padded {
        padding: 40px 75px 240px;
    }

    .img-text {
        padding: 70px;
    }
    .searchRes .img-text .height-360 {
        height: 360px;
    }
}

@media screen and (min-width: 992px) {
    .photos .images .h-sm {
        height: 250px;
    }

    .header-text {
        width: 50%;
    }

    .header-text p {
        font-size: 20px;
    }

    .header-text .title {
        font-size: 50px;
    }

    .header-text .title.large {
        font-size: 80px;
    }

    .header-text .sub-title {
        font-size: 20px;
    }

    .img-text .text {
        max-width: 615px;
    }
}

@media screen and (min-width: 1200px) {
    .header-text {
        width: 50%;
    }

    .header-text p {
        font-size: 22px;
    }

    .header-text .title {
        font-size: 60px;
    }

    .header-text .title.large {
        font-size: 100px;
    }

    .header-text .sub-title {
        font-size: 36px;
    }

    .img-text .text p.title.large {
        font-size: 85px;
    }
}

@media screen and (min-width: 1440px) {
    .mg-right-minus {
        margin-right: -30px;
    }

    .mg-right-minus.large {
        margin-right: -140px;
    }
    .img-text .img .text-over-img{
        bottom: 30%
    }
}

/*# sourceMappingURL=style.css.map */
