@font-face {
    font-family: 'aperturaRegular';
    src: url("../fonts/Apertura-Regular/Apertura-Regular.eot") format("embedded-opentype"), url("../fonts/Apertura-Regular/Apertura-Regular.svg") format("svg"), url("../fonts/Apertura-Regular/Apertura-Regular.ttf") format("truetype"), url("../fonts/Apertura-Regular/Apertura-Regular.woff") format("woff");
}

@font-face {
    font-family: 'aperturaMedium';
    src: url("../fonts/Apertura-Medium/Apertura-Medium.eot") format("embedded-opentype"), url("../fonts/Apertura-Medium/Apertura-Medium.svg") format("svg"), url("../fonts/Apertura-Medium/Apertura-Medium.ttf") format("truetype"), url("../fonts/Apertura-Medium/Apertura-Medium.woff") format("woff");
}

@font-face {
    font-family: 'aperturaBold';
    src: url("../fonts/Apertura-Bold/Apertura-Bold.eot") format("embedded-opentype"), url("../fonts/Apertura-Bold/Apertura-Bold.svg") format("svg"), url("../fonts/Apertura-Bold/Apertura-Bold.ttf") format("truetype"), url("../fonts/Apertura-Bold/Apertura-Bold.woff") format("woff");
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot") format("embedded-opentype"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.svg") format("svg"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff");
}

body {
    font-family: 'aperturaRegular';
}

.aperturaMedium {
    font-family: 'aperturaMedium';
}

.aperturaBold {
    font-family: 'aperturaBold';
}

.MyriadPro-Regular {
    font-family: 'MyriadPro-Regular';
}

.f-11 {
    font-size: 11px;
}

.f-13 {
    font-size: 13px;
}

.f-30 {
    font-size: 30px;
}

.f-28 {
    font-size: 28px;
}

.f-22 {
    font-size: 22px;
}

.f-18 {
    font-size: 18px;
}


input, button {
    background-color: transparent;
    border: none;
}

.mainColor {
    color: #173b49;
}

.white {
    color: #fff;
}

.fixedDiv {
    position: fixed;
    top: 322px;
    right: 10px;
    z-index: 999;
}

.fixedDiv a {
    margin-bottom: 10px;
}

.fixedDiv i {
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 100%;
    font-size: 20px;
}

.img-centered {
    text-align: center;
    overflow: hidden;
}

.img-centered img {
    margin: 0 -100%;
    min-width: 100%;
}

.play {
    top: calc(50% - 35px);
    left: calc(50% - 35px);
}

.play i {
    font-size: 70px;
}

.lightColor {
    color: #296880;
}

.m-b-20{
    margin-bottom: 20px!important;
}

.m-t-12{
    margin-top: 12px;
}
.m-t-8{
    margin-top: 8px;
}


footer .up {
    background-color: #151616;
    padding-top: 80px;
}

footer .up .content {
    margin-top: 25px;
}

footer .up .content li {
    font-family: 'MyriadPro-Regular';
    font-size: 12px;
}

footer .up .content li a {
    display: inline-block;
    margin-bottom: 25px;
    border-bottom: 2px solid #252626;
}

footer .up .content input {
    border: 1px solid #fff;
    height: 30px;
    color: #fff;
    width: 210px;
}

footer .up .content button {
    border-left: 2px solid #464646;
    height: 28px;
    color: #fff;
    padding: 0 8px;
    font-size: 8px;
    position: absolute;
    right: 0;
    top: 1px;
}

footer .up .content button i {
    font-size: 11px;
    padding-left: 3px;
}

footer .up .content .wrongEmail {
    top: 0;
    left: 2px;
    color: red;
    font-size: 7px;
}

footer .up .content .wrongEmail i {
    padding: 1px;
    background-color: red;
    color: #000;
    border-radius: 100%;
    font-size: 5px;
}

footer .up .socialIcons {
    margin: 5px 0;
}

footer .up .socialIcons a {
    color: #242424;
    border: 1px solid #2a2a2a;
}

footer .up .socialIcons a:hover {
    color: #fff;
}

footer .down {
    background-color: #000;
    line-height: 38px;
}

footer .down .downContent {
    margin-right: 40px;
}

footer .down .downContent .smallLogo img {
    width: 33px;
    height: 33px;
}

footer .down .downContent span {
    font-size: 8px;
}

footer .down .drag {
    width: 30px;
    height: 30px;
    background-color: #151616;
    border-radius: 100%;
    top: -15px;
    right: 0;
}

@media screen and (min-width: 481px) {
    footer .up .logo {
        float: left;
    }

    footer .up .content {
        margin: 0 0 0 60px;
    }

    footer .down .downContent {
        margin-right: 112px;
    }
}

/*# sourceMappingURL=basics.css.map */
