.gray {
    color: #6e6c6c;
}

.background {
    background-size: cover;
    background-position: center;
    background-position: center;
}

.myContainer {
    width: 90%;
    margin: auto;
}

.magnification {
    top: calc(50% - 60px);
    left: calc(50% - 170px);
}

.magnification .aroundMagnifier {
    width: 90px;
    height: 90px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
}

.magnification p {
    margin-top: 10px;
}

.magnification p .sep {
    padding: 0 6px;
    color: #fff;
}

.logo img {
    width: 85px;
    height: 85px;
}

.socialIcons {
    /*margin: 15px 0;*/
   /* margin: 15px 0;*/
}

.socialIcons .item {
    height: 27px;
    width: 27px;
    border: 1px solid #fff;
    border-radius: 100%;
    float: right;
    margin-right: 5px;
}

.pageHead {
    font-size: 40px;
    letter-spacing: 8px;
    line-height: 1;
    margin-bottom: 60px;
    margin-left: 40px;
}

.f-input {
    font-size: 13px;
}

.black {
    color: #000;
}

.home-1 img{
    min-width: 100%;
    min-height: 100%;
    margin: 0 -100%;
}
.home-1 {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.home-1 .myVideo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: fill;
}

.home-1 .play {
    top: calc(50% - 35px);
    left: calc(50% - 35px);
}

.home-1 .play i {
    font-size: 70px;
}

.home-2 {
    height: 600px;
}

.home-2 .sliderContainer {
    width: 100%;
    height: 100%;
}

.home-2 .swiper-container, .home-2 .swiper-slide {
    height: 100%;
    display: flex;
    align-items: center;
}

.home-2 .swiper-slide {
    background-size: cover;
    padding: 0;
}

.home-2 .aroundSlider {
    margin: 0 40px;
}

.home-2 .aroundSlider .inAround {
    flex-wrap: wrap;
}

.home-2 p {
    color: #fff;
    width: 100%;
    float: left;
}

.home-2 p:first-child {
    font-size: 44px;
    line-height: 1;
}

.home-2 p:first-child::first-letter {
    color: #173b49;
}

.home-2 .swiper-pagination-bullet-active {
    background: #fff;
}

.home-2 .swiper-pagination-bullet {
    opacity: 1;
}

.home-2 .swiper-button-prev {
    background-image: url("../images/prev.png");
    left: 80px;
}

.home-2 .swiper-button-next {
    background-image: url("../images/next.png");
    right: 80px;
}

.home-2 .swiper-button-next, .home-2 .swiper-button-prev {
    width: 42px;
    height: 42px;
    background-size: 42px 42px;
    display: none;
}

.home-4 {
    min-height: 635px;
}

.home-4 .singleImg {
    float: left;
    width: 100%;
    height: 500px;
    margin: 25px 0;
    overflow: hidden;
    position: relative;
}

.home-4 .singleImg .firstName {
    color: #2b6075;
}

.home-4 .singleImg:hover .magnification {
    display: block !important;
}

.home-4 .singleImg .projectName {
    position: absolute;
    top: 35px;
    left: 20px;
}

.home-4 .singleImg.magnified {
    height: 555px;
    margin: 0;
}

.home-4 .singleImg.magnified .projectName {
    top: 60px;
    left: 35px;
}

.home-4 .singleImg.magnified p {
    font-size: 22px;
}

.home-4 .singleImg .outerImg {
    min-width: 100%;
    min-height: 100%;
}

.home-4 .footer {
    display: block;
    color: #193c48;
    padding: 25px 0;
}

.projects1 {
    height: 430px;
    width: 100%;
    background-image: url("../images/projects1.jpg");
}

.projects1 p {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 80px;
    letter-spacing: 8px;
    align-self: center;
}

.projects2 {
    margin-top: 30px;
    max-height: 660px;
    overflow: hidden;
}

.projects2 .outerImg {
    min-width: 100%;
    min-height: 100%;
}

.projects2 .upperImg {
    position: absolute;
    top: 85px;
    left: calc(50% - 100px);
    width: 200px;
}

.projects3 {
    margin: 40px 0 15px;
}

.value-1 {
    height: 800px;
    background-image: url("../images/value1.jpg");
}

.property-1 {
    height: 600px;
    background-image: url("../images/property.jpg");
}
.property-2 p {
    color: #6e6c6c;
    font-size: 30px;
    line-height: 1;
    padding: 90px 0 65px;
}

.property-2 form {
    padding-bottom: 240px;
}

.property-2 form .row {
    margin: 0;
}

.property-2 form .form-control {
    color: #797676;
    border: 1px solid #6e6c6c;
    border-radius: 0;
    margin-bottom: 40px;
    height: 50px !important;
}

.property-2 form label {
    color: #6e6c6c;
}

.property-2 form option {
    color: #797676;
}

.property-2 form i {
    position: absolute;
    right: 20px;
    bottom: 58px;
    font-size: 14px;
    color: #000;
    z-index: 9999;
}

.property-2 form input:last-child {
    margin-bottom: 20px;
}

.property-2 form button {
    font-size: 30px;
    background-color: #173b49;
    width: 250px;
    color: #dedede;
    padding: 0;
    float: right;
    height: 55px;
}

.contact-1 {
    height: 600px;
    background-image: url("../images/contact.jpg");
}

.firstSpan {
    color: #686b6f !important;
}

.contact-2 {
    padding: 70px 0;
}

.contact-2 .contactHead {
    width: 100%;
    margin-bottom: 80px;
}

.contact-2 .contactHead span {
    color: #173b49;
}

.contact-2 .subContact {
    border: 2px solid #173b49;
    padding: 10px 15px;
    color: #666666;
    margin: 0 0 25px 0;
    width: 60%;
}

.contact-2 .subContact a {
    color: #666666;
}

.contact-2 .subContact a:hover {
    color: #666666;
}

.contact-2 .subContact .title i {
    padding: 8px;
    font-size: 15px;
    border: 1px solid #8a8a8a;
}

.map2 {
    height: 300px;
}

.contact-4 {
    padding: 60px 0 70px;
    background-image: url("../images/contact3.jpg");
}

.contact-4 .fa-exclamation-circle{
    position: absolute;
    top: 5px;
    right: 21px;
}

.contact-4 .fa-check-circle{
    position: absolute;
    top: 5px;
    right: 21px;
}

.contact-4 P {
    margin-bottom: 85px;
}

.contact-4 form {
    margin: auto;
}

.contact-4 form .form-control {
    background-color: transparent;
    border: 2px solid #bababa;
    font-size: 10px;
    color: #686b6f;
    margin-bottom: 15px;
}

.contact-4 form textarea {
    margin-bottom: 25px;
}

.contact-4 form button {
    background-color: #173b49;
    color: #fdfdfc;
    width: 122px;
    height: 28px;
}

.contact-4 ::-webkit-input-placeholder {
    color: #686b6f;
}

.not-found {
    height: 470px;
    background-image: url("../images/notFound.jpg");
}

.not-found p {
    font-size: 72px;
}

.not-found-2 {
    height: 470px;
}

.not-found-2 img {
    max-width: 270px;
}

.not-found-2 p {
    font-size: 40px;
    margin-top: 35px;
}

.carrer1 {
    height: 565px;
    background-image: url("../images/carrers.jpg");
}

.carrer2 {
    padding: 70px 0;
    background-color: #ffffff;
}

.carrer2 .formTitle {
    color: #686b6f;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.carrer2 .tableHeader {
    background-color: #2e5395;
    height: 60px;
    box-shadow: 0 5px #000;
    padding-top: 20px;
    color: #fff;
    padding-left: 10px;
    margin-bottom: 5px;
}

.carrer2 input {
    border: none;
    color: #000;
    border-bottom: 1px solid #000;
    border-radius: 0;
}

.carrer2 input:focus {
    box-shadow: none;
}

.carrer2 .form-group {
    padding-left: 15px;
}

.carrer2 .row {
    margin: 0;
}

.carrer2 .row > div {
    padding: 0;
}

.carrer2 ::-webkit-input-placeholder {
    color: #000;
}

.carrer2 td {
    border-bottom: 1px solid #000;
}

.carrer2 td:not(:last-child) {
    border-right: 1px solid #000;
}

.no-border {
    border-right: none !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
}

select:focus {
    outline: none;
}

@media screen and (min-width: 481px) {
    /* change 2*/
    .article2 .text-center img:first-child {
        width: 360px;
        height: 360px;
    }
    .article {
        padding: 0 90px 60px;
    }
    .article2 {
        padding: 80px 80px 120px 80px;
    }
    /* end */
    .home-2 .aroundSlider {
        margin: 0 80px;
    }

    .home-2 p:first-child {
        font-size: 52px;
    }

    .projects2 .upperImg {
        left: calc(50% - 145px);
        width: 290px;
    }

    .not-found-2 img {
        max-width: 345px;
    }
}

.popUp2 {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999999999;
}

.popUp2 div {
    margin: auto;
    height: 100%;
}
/* start of change */
.inner {
    height: 660px;
    margin-bottom: 20px;
}

.innerText {
    font-size: 40px;
    padding: 0 60px;
}

.innerText span {
    color: #686b6f;
}

.innerText span:first-child {
    color: #173b49;
}

.allInner {
    background-color: #2f3237;
}

.allInner ul {
    padding: 5px 0;
}

.allInner li a{
    color: #777777;

}
.allInner li {
    margin: 10px 0;
    font-size: 20px;
    padding: 0 17px;
}

.allInner li a:hover {
    color: #fff;
}

.innerDesc {
    min-height: 530px;
}

.innerDesc p {
    width: 100%;
    font-size: 16px;
    color: #f8f9fa;
    margin-left: 20px;
}

.location p {
    padding: 60px;
}

.location .mapLocation {
    height: 310px;
    background-color: lightblue;
    margin-bottom: 100px;
}

.floor {
    min-height: 470px;
    background-position: left;
    background-size: cover;
    padding-top: 60px;
}

.floor img {
    margin: 35px;
    width: 320px;
}

.gallery p {
    padding: 20px 60px;
}

.gallery .flex-direction-nav a:before {
    color: #fff;
    font-size: 25px;
}

.gallery #slider {
    margin: 0 30px;
}

.gallery #slider .flex-direction-nav a {
    background-color: #173b49;
    width: 65px;
    height: 65px;
    padding: 15px 0;
}

.gallery #slider .flex-direction-nav .flex-prev {
    text-align: center;
    left: auto !important;
    right: 60px;
    top: auto !important;
    bottom: 0 !important;
}

.gallery #slider .flex-direction-nav .flex-next {
    right: 0 !important;
    text-align: center !important;
    top: auto !important;
    bottom: 0 !important;
}

.gallery #slider .flex-direction-nav a.flex-disabled {
    background-color: #2f3237 !important;
    pointer-events: none;
}

.gallery #carousel {
    margin: 15px 0 25px !important;
}

.gallery #carousel .flex-direction-nav a {
    background-color: #173b49;
    height: 100%;
    padding: 30px 20px;
    width: 65px;
}

.gallery #carousel .flex-direction-nav .flex-prev {
    text-align: center;
    top: 24%;
    left: -4px !important;
}

.gallery #carousel .flex-direction-nav .flex-next {
    right: 0 !important;
    text-align: center !important;
    top: 24%;
}

.gallery #carousel .flex-direction-nav a.flex-disabled {
    background-color: transparent !important;
    pointer-events: none;
}
.closeMyPopup{
    display: block;
    padding: 10px;
    font-weight: bold;
    
}
/* end of change */

/* change 2*/
.article {
    flex-direction: column;
    padding: 0 20px 60px;
    height: 600px;
}

.article p {
    font-size: 37px;
    line-height: 1;
}

.article p:first-child {
    font-size: 56px;
    margin-bottom: 50px;
}

.article2 {
    padding: 20px ;
}

.article2 .mrg {
    margin: 20px 0 40px;
}

.article2 .color {
    color: #304f5b;
}

.article2 img {
    width: 100%;
}

.article2 .text-center img:first-child {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.article2 p:last-child {
    font-size: 19px;
    line-height: 1.2;
    margin-bottom: 75px;
    color: #304f5b;
}

.article2 .mainText {
    font-size: 27px;
}
#firstSection{
    margin-top: 85px;
}
/* end */

@media screen and (min-width: 769px) {
    /*change 2*/
    .article {
        padding: 0;
    }

    .article p {
        font-size: 42px;
    }

    .article p:first-child {
        font-size: 63px;
    }

    .article2 p:last-child  {
        font-size: 24px;
    }

    .article2 .mainText {
        font-size: 34px;
    }
    /* end */
    .carrer2 .row div:not(:last-child){
        border-right: 1px solid #000;
    }

    /* start of change */
    .floor {
        min-height: 740px;
    }

    .allInner li:not(:last-child) {
        border-right: 1px solid #777777;
    }

    .innerDesc p {
        font-size: 22px;
        margin: 60px;
        width: 75%;
    }

    .floor img {
        width: 500px;
    }

    /* end of change */


    .f-input {
        font-size: 16px;
    }

    .home-4 .singleImg {
        width: 50%;
    }

    .home-2 .swiper-slide {
        padding: 0 80px;
    }

    .home-2 .swiper-button-next, .home-2 .swiper-button-prev {
        display: block !important;
    }

    .projects1 p {
        align-self: flex-end;
        font-size: 80px;
        letter-spacing: 15px;
    }

    .value-1 p {
        font-size: 73px;
        margin-left: 140px;
    }

    .property-1 p {
        font-size: 64px;
        margin-left: 110px;
    }
    .property-2 p {
        font-size: 50px;
    }

    .property-2 button {
        font-size: 41px !important;
    }

    .contact-2 .subContact {
        width: 25%;
        margin-right: 60px;
    }

    .contact-2 .subContact:last-child {
        margin-right: 0;
    }

    .contact-4 form .input:nth-child(odd) {
        padding-right: 10px !important;
    }

    .contact-4 form .input:nth-child(even) {
        padding-left: 10px !important;
    }

    .border-right {
        border-right: 1px solid #000 !important;
        border-radius: 0;
    }
}

@media screen and (min-width: 993px) {
    /* start of change */
    .allInner li {
        font-size: 26px;
    }

    /* end of change */

    .home-2 .aroundSlider {
        margin: 0 40px;
    }

    .home-2 .aroundSlider .inAround {
        flex-wrap: nowrap;
    }

    .home-2 p {
        width: auto;
    }

    .home-2 p:first-child {
        margin-right: 35px;
        margin-left: 50px;
        width: auto !important;
        font-size: 72px;
    }
}

@media screen and (min-width: 1200px) {
    /* start of change */
    .floor img {
        width: 650px;
    }

    /*end */
    .home-2 p:first-child {
        font-size: 92px;
    }

    .projects1 p {
        font-size: 108px;
    }

    .subContact {
        width: 300px !important;
    }
}

@media screen and (min-width: 1440px) {
    .home-2 p:first-child {
        font-size: 92px;
    }
}

/*# sourceMappingURL=main.css.map */

.side-menu {
    color: white;
    position: absolute;
    right: 0; }
.side-menu i.fa-bars {
    float: right;
    padding: 20px 30px;
    cursor: pointer; }
.side-menu .menu {
    background-color: #173b49;
    color: white;
    padding: 75px 10px 10px;
    height: 100vh;
    width: 100vw;
    display: none; }
.side-menu .menu ul li {
    text-align: center; }